html, body {
    text-align: center;
    background-color: cornsilk;
    font-size: 12px;
}

h1 {
    font-size: 36px;
    margin-bottom: 0;
}

button {
    margin: 2rem;
    font-size: 18px;
    padding: 1rem;
}

#container { 
    background-color: black;
    border: 1px solid black;
    margin: 0 auto;
    width: 50%;
    display: flex;
    aspect-ratio: 1 / 1;
}